wdata/src/schema/xsd/wname.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://whisky.roeland.org/name">
  <xs:element name="WhiskyName">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:long" name="id"/>
        <xs:element type="xs:string" name="name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
